#list{
margin-bottom: 0px;
margin-top: -1px;
border-radius:0;
border-color: transparent;
border-width: 0;
padding-left: 0px;
border-spacing: 0px;
background-color: #788188
font:'New Century Schoolbook','New York', serif;
font-size: 14px;
line-height: 1.4;

 }

