{% extends "inheritance/base.html" %}
{% block content %}

<br/><br/><br/><br/><br/><br/>
<div class="list">
                         <a href="#" class="list-group-item" font-size=50>
                          <p><font size="50" color="grey">Billboard</font></p>
                        </a>
         <a href="/" align="right">&nbsp;&nbsp;back<<<&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>

                        <a href="#" class="list-group-item active">
                          1 : Look What You Make Me Do - Taylor Swift
                        </a>
                        <a href="#" class="list-group-item">
                          2 : Gorgeous - Taylor Swiftv
                        </a>
                        <a href="#" class="list-group-item">
                          3 : Whisky Lullabies - Janet Devlin
                        </a>                        
                          <a href="#" class="list-group-item">
                          4 : Rockstar - Post Malone
                        </a>
                        <a href="#" class="list-group-item">
                          5 : Bodak Yellow - Cardi B
                        </a>
                        <a href="#" class="list-group-item">
                          6 : Havana - Camila Cabello
                        </a>
                        <a href="#" class="list-group-item">
                          7 : New Rules - Dua Lipa
                        </a>
                        <a href="#" class="list-group-item">
                          8 : Lonely Together - Avicii/Rita Ora
                        </a>
                        <a href="#" class="list-group-item">
                          9 : Dusk Till Dawn - ZAYN/Sia
                        </a>
                        <a href="#" class="list-group-item">
                          10 : Silence - Marshmello/Lhalid
                        </a>
             </div>



{% endblock %}

