
{% extends "inheritance/base.html" %}
{% block content %}



<br/><br/><br/><br/><br/><br/>

<a href="/" align="right">&nbsp;&nbsp;back<<<&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a><br/><br/>

    <div id="container" style="width:1400px; height:800px;">
         <div id="left_list" class="col-sm-3 col-md-2 sidebar"  style="float:left">
              <p><font size="5" color="grey">Classification</font></p><br/><br/>
             <ul>
              <p>Language</p>
                  <li><p><a href="">&nbsp;&nbsp;&sdot;Chinese</a></p></li>
                  <li><p><a href="">&nbsp;&nbsp;&sdot;English</a></p></li>
                   <li><p><a href="">&nbsp;&nbsp;&sdot;Korean</a></p></li>
                   <li><p><a href="">&nbsp;&nbsp;&sdot;Japanese</a></p></li>
                   <li><p><a href="">&nbsp;&nbsp; ......</a></p></li>
               <br/>
              <p>Genres</a></p>
                  <li><p><a href="">&nbsp;&nbsp;&sdot;Popular</a></p></li>
                  <li><p><a href="">&nbsp;&nbsp;&sdot;Ballad</a></p></li>
                   <li><p><a href="">&nbsp;&nbsp;&sdot;Classical</a></p></li>
                   <li><p><a href="">&nbsp;&nbsp;&sdot;Rocking</a></p></li>
                   <li><p><a href="">&nbsp;&nbsp; ......</a></p></li>
                <br/>
                  <p>Theme</a></p>
                  <li><p><a href="">&nbsp;&nbsp;&sdot;ACG</a></p></li>
                  <li><p><a href="">&nbsp;&nbsp;&sdot;Soundtrack</a></p></li>
                   <li><p><a href="">&nbsp;&nbsp;&sdot;Traditional</a></p></li>
                   <li><p><a href="">&nbsp;&nbsp;&sdot;Background</a></p></li>
                   <li><p><a href="">&nbsp;&nbsp; ......</a></p></li>
                <br/>
                </ul>
              </div> 

            <div><font size="5" color="grey">Recommended list :</font></div><br/>
          <div class="col-lg-4" align="center"  >
            <img class="rounded-circle" src="../static/images/list1.png"  width="200" height="200">
            <h2><a class="btn btn-secondary" href="https://y.qq.com/portal/player.html"> "Twee Pop" Bubble Bubble's<br/> independent music.<br/>Play amount:16000</a></h2>           
           </div>

          <div class="col-lg-4" align="center">
            <img class="rounded-circle" src="../static/images/list2.png" width="200" height="200" >
             <h2><a class="btn btn-secondary" href="https://y.qq.com/n/yqq/playlist/2684920344.html#stat=y_new.playlist.pic_click">Dream pop, such as fantasy to<br/> bring you a sense of floating.<br/>Play amount:501000</a></h2>
          </div>

          <div class="col-lg-4" align="center">
            <img class="rounded-circle" src="../static/images/list3.png" width="200" height="200"  >
             <h2><a class="btn btn-secondary" href="https://y.qq.com/portal/player.html">Brick Street Melody, England Street <br/>Behavior Art Special BGM.<br/>Play amount:293000</a></h2>
          </div>

          
          <div class="col-lg-4" align="center">
            <img class="rounded-circle" src="../static/images/list4.png" width="200" height="200">
             <h2><a class="btn btn-secondary" href="https://y.qq.com/n/yqq/playlist/3578919637.html">[Fresh England] guitar, happy minor, <br/>nostalgic feelings.<br/>Play amount:206000</a></h2>
          </div>


</div>

{% endblock %}