
{% extends "inheritance/base.html" %}
{% block content %}



<br/><br/><br/><br/><br/><br/>

<a href="/" align="right">&nbsp;&nbsp;back<<<&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a><br/><br/>


  <div id="container" style="width:1400px; height:800px;">
         <div id="left_list" class="col-sm-3 col-md-2 sidebar"  style="float:left">
              <p><font size="5" color="grey">Singer Classification</font></p><br/><br/>
             <ul>
              <p>Chinses</p>
                  <li><p><a href="">&nbsp;&nbsp;&sdot;Chinese male singer</a></p></li>
                  <li><p><a href="">&nbsp;&nbsp;&sdot;Chinese female singer</a></p></li>
                   <li><p><a href="">&nbsp;&nbsp;&sdot;Chinses band</a></p></li>
               <br/>
              <p>Europe</a></p>
                  <li><p><a href="">&nbsp;&nbsp;&sdot;Europe male singer</a></p></li>
                  <li><p><a href="">&nbsp;&nbsp;&sdot;Europe female singer</a></p></li>
                   <li><p><a href="">&nbsp;&nbsp;&sdot;Europe band</a></p></li>
                <br/>
                  <p>Korean</a></p>
                  <li><p><a href="">&nbsp;&nbsp;&sdot;Korean male singer</a></p></li>
                  <li><p><a href="">&nbsp;&nbsp;&sdot;Korean female singer</a></p></li>
                   <li><p><a href="">&nbsp;&nbsp;&sdot;Korean band</a></p></li>
                <br/>
                  <p>Japanese</a></p>
                   <li><p><a href="">&nbsp;&nbsp;&sdot;Japanese male singer</a></p></li>
                  <li><p><a href="">&nbsp;&nbsp;&sdot;Japanese female singer</a></p></li>
                   <li><p><a href="">&nbsp;&nbsp;&sdot;Japanese band</a></p></li>
                <br/>
                  <p>Else</a></p>
                  <li><p><a href=""> &nbsp;&nbsp;&sdot;male singer</a></p></li>
                  <li><p><a href=""> &nbsp;&nbsp;&sdot;female singer</a></p></li>
                   <li><p><a href=""> &nbsp;&nbsp;&sdot;band</a></p></li>
                </ul>
              </div> 

            <div><font size="5" color="grey">Popular Singer :</font></div><br/>
          <div class="col-lg-4" align="center"  >
            <img class="rounded-circle" src="../static/images/taylor swift.jpg"  width="200" height="200">
            <h2><a class="btn btn-secondary" href="Taylor Swift">Taylor Swift</a></h2>           
           </div>

          <div class="col-lg-4" align="center">
            <img class="rounded-circle" src="../static/images/ed sheeran.png" width="200" height="200">
             <h2><a class="btn btn-secondary" href="http://music.163.com/#/artist?id=33184">Ed Sheeran</a></h2>
          </div>

          <div class="col-lg-4" align="center">
            <img class="rounded-circle" src="../static/images/justin bieber.jpg" width="200" height="200">
             <h2><a class="btn btn-secondary" href="http://music.163.com/#/artist?id=35531">Justin Bieber</a></h2>
          </div>

          
          <div class="col-lg-4" align="center">
            <img class="rounded-circle" src="../static/images/adele.jpg" width="200" height="200">
             <h2><a class="btn btn-secondary" href="http://music.163.com/#/artist?id=46487">Adele</a></h2>
          </div>


</div>

{% endblock %}